
<hinv-header></hinv-header>
<hinv-header></hinv-header>
<hinv-header></hinv-header>
<hinv-header></hinv-header>
 
<h1>Welcome to {{hotelName}} hotel</h1>
<div *ngIf='selectRoom'>
    {{selectedRoom | json}}
</div>


<div [ngStyle]="{'color': rooms.availableRooms > 0 ? 'green' : 'red'}" *ngIf="rooms.availableRooms > 0">
    <p>rooms List</p>
    <p>{{rooms.availableRooms}}</p>

</div>
<div>
    <hinv-rooms-list [rooms]='roomList' (selectedRoom)="selectRoom($event)"> </hinv-rooms-list>
</div>


<button class="btn btn-primary" (click)="toggle()">Toggle</button>